/* Colors */

@dark-green:        #054905;
@green:             #107010;
@light-green:       #42B842;
@very-light-green:  #DEFAD7;

@purple:            #A638C2;
@light-purple:      #F3D7FA;

@very-dark-gray:    #333;
@dark-gray:         #555;
@gray:              #999;
@med-light-gray:    #BBBBBB;
@light-gray:        #F0F0F0;
@very-light-gray:   #F8F8F8;
@white:             #FFF;

/* Fonts */

@fira:                'Fira-Sans';
@firaFontFamily:      @fira, sans;

@firaMono:            'Fira-Mono';
@firaMonoFontFamily:  @firaMono, monospace;

@content-width:       800px;
