@import '../variables.less';

@tab-top-radius:  4px;
@header-height:   40px;

.header {
  margin-top: 20px;
  width: @content-width;

  height: @header-height;
  border-bottom: 1px solid @green;
}

.logo {
  display: inline-block;

  img {
    margin: 0 16px 0 8px;

    -webkit-transform: translate(0, -3px);
    transform: translate(0, -3px);
  }
}

ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: @header-height;

  li {
    display: inline-block;
    height: @header-height;
    margin-top: 5px;  // Hack

    font-size: 16px;

    .header-tab {
      display: inline-block;
      cursor: pointer;
      padding: 6px 12px 6px 12px;

      -webkit-border-top-left-radius: @tab-top-radius;
      -webkit-border-top-right-radius: @tab-top-radius;
      -moz-border-radius-topleft: @tab-top-radius;
      -moz-border-radius-topright: @tab-top-radius;
      border-top-left-radius: @tab-top-radius;
      border-top-right-radius: @tab-top-radius;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .active {
      background-color: @white;
      border: 1px solid @green;
      border-bottom-width: 0;
    }
  }
}
