
@import '../variables.less';

.left {
  float: left;
  width: 280px;
  margin-right: 20px;
}

.right {
  float: left;
  width: 500px;
}

.box {
  background-color: @light-gray;
  margin: 10px 0 20px 0;
  padding: 4px;

  h4.box-header {
    margin: 4px;
  }
}

h1.net-worth {
  margin: 6px;
  text-align: center;
}

ul.mini-asset-table {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 8px 16px;
  }
}

p.pull-left {
  margin: 0;

  display: inline-block;
}

p.pull-right {
  margin: 0;

  display: inline-block;
  float: right;
}