@import '../variables.less';

.left {
  float: left;
  width: 260px;
  margin-right: 40px;
}

.right {
  float: left;
  width: 500px;
}

.box {
  background-color: @light-gray;
  margin: 10px 0 20px 0;
  padding: 4px;

  h4.box-header {
    margin: 4px;
  }
}

h1.net-worth {
  margin: 6px;
  text-align: center;
}

ul.mini-asset-table {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 8px 16px;
  }
}

p.pull-left {
  margin: 0;

  display: inline-block;
}

p.pull-right {
  margin: 0;

  display: inline-block;
  float: right;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 500px;

  background-color: #fcc;

  &.scroll-y {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &.scroll-x {
    overflow-x: scroll;
  }

  .resizable {
    height: 700px;
    width: 500px;
  }

  .chart-frame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.table-container {
  background-color: #cfc;
  height: 500px;
  width: 500px;
}