@import '../variables.less';
@import '../layout.less';

.table-container {
  border-bottom: 8px solid @light-gray;
  margin-bottom: 20px;
}

.ember-table-scroll-container .antiscroll-scrollbar-horizontal {
  display: none;
}

.ember-table-body-container .ember-table-table-row.ember-table-hover {
  background-color: @very-light-gray;
}

.ember-table-body-container .ember-table-table-row.ember-table-selected {
  background-color: @very-light-green;
  color: @dark-gray;
}

.ember-table-body-container .ember-table-table-row.ember-table-selected .ember-table-cell {
  border-right-color: @light-gray;
}

.ember-table-table-row {
  border-bottom: 1px solid @light-gray;
}

.ember-table-header-row {
  border-bottom: none;
}

.ember-table-header-container {
  border-bottom: none;

  .ember-table-right-table-block .ember-table-table-row {
    overflow-x: hidden;
  }
}

.ember-table-tables-container {
  border: 1px solid @light-gray;
  height: 600px;
}

.ember-table-header-cell {
  background-color: @light-gray;
}

.ember-table-cell {
  border-right-color: @light-gray;
}

.ember-table-header-cell.text-align-right .ember-table-content {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

.ember-table-header-cell.text-align-left .ember-table-content {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

.ember-table-content {

}

.ember-table-header-container {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.amount-cell {
  margin-right: 4px;
}

.multi-select-example {

}
.example-container {
  position: relative;
  padding: 45px 15px 15px;
  // background-color: #f8f8f8;
  border: 1px solid #eee;
}

.example-container:after {
  content: "Example";
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: normal;
  font-family: @firaFontFamily;
  letter-spacing: 1px;
  color: #aaa;
  text-transform: uppercase;
}

.example-description {
  margin: 10px 0;
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.slider {
  position: absolute;
  width: @left-width;

  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slide-left {
  .slider;
  left: 0;
}

.slide-left-active {
  .slide-left;
  left: calc(-@left-width - 20px);
}

.slide-right {
  .slider;
  left: calc(@left-width + 20px);
}

.slide-right-active {
  .slide-right;
  left: 0;
}

.transaction-edit-panel {
  h5 {
    margin: 6px 0 4px 0;
  }

  input {
    width: 100%;
  }
}
