<span class="content">
  Category Here
{{!--   {{select-component
    contentBinding="categories"
    optionLabelPath="name"
    optionValuePath="symbol"
    optionDefaultPath="def"
  }}
 --}}
</span>
