<span class="table-cell-select">
  {{select-component
    contentBinding="view.categories"
    optionLabelPath="name"
    optionValuePath="symbol"
    optionDefaultPath="def"
    selectionBinding="view.selectedCategory"
    classNames="table-cell-select-component"
  }}
</span>
