
<div class="left">
  <h2>
    Welcome, Alex!
  </h2>
</div>

<div class="right">
  <h2>
    Right and lots of stuff Right and lots of stuff Right and lots of stuff Right and lots of stuff
  </h2>
</div>