<div class="left">
  <h2>Filters</h2>
  <div class="box">
    <h4 class="box-header">Filter here</h4>
  </div>

  <div class="box">
    <h4 class="box-header">Filter here</h4>

    <div class="not-container">
      {{select-component
        contentBinding="categories"
        optionLabelPath="name"
        optionValuePath="symbol"
        classNames="not-select-example"
      }}
    </div>
  </div>

  <div class="box">
    <h4 class="box-header">Filter here</h4>
  </div>
</div>

<div class="right">
  <h2>Transactions</h2>
  <div class="table-container">
    {{table-component
      hasFooter=false
      columnsBinding="columns"
      contentBinding="content"
      forceFillColumns=true
      enableColumnReorder=false
    }}
  </div>
</div>
